[submodule "optics/testcases"]
	path = optics/testcases/samples
	url = https://github.com/StractOrg/sample-optics
[submodule "crates/ggml-sys/ggml-src"]
	path = crates/ggml-sys/ggml-src
	url = https://github.com/ggerganov/ggml
