---
export interface Props {
  shown?: boolean;
}

const { shown = true } = Astro.props;
const shownClass = !shown ? 'hidden' : '';
---

<div class={"chat-bubble "+shownClass}>
    <div class="typing">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>

<style>
  .chat-bubble {
    padding-top: 5px;
    padding-left: 10px;
  }

  .typing {
    align-items: center;
    display: flex;
    height: 17px;
  }

  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: rgba(11, 123, 255, .7);
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
  }

  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }

  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }

  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }

  .typing .dot:last-child {
    margin-right: 0;
  }

  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color:rgba(11, 123, 255, .7);
    }
    28% {
      transform: translateY(-7px);
      background-color:rgba(11, 123, 255, .4);
    }
    44% {
      transform: translateY(0px);
      background-color: rgba(11, 123, 255, .2);
    }
  }
</style>