---
import { askama } from "../askama";

export interface Props {
    direct_answer: string;
}
---
{askama.if_("let Some(direct_answer) = direct_answer", (
    <div class="answer-container border-b">
        <div class="answer">
            {askama`direct_answer.answer`}
        </div>
        <div class="answer-snippet">
            {askama`direct_answer.snippet|safe`}
        </div>
        <div class="flex flex-col">
            <a class="answer-url-link p-0 m-0" href={askama`direct_answer.url`}>
                {askama`direct_answer.pretty_url`}
            </a>
            <div class="answer-title">
                <a class="answer-title-link" href={askama`direct_answer.url`}>
                    {askama`direct_answer.title`}
                </a>
            </div>
        </div>
    </div>
))}

<style>
    .asnwer-container {
        @apply flex flex-col;
    }
    .answer {
        @apply text-xl font-medium mb-3;
    }
    
    .answer-snippet {
        @apply text-sm mb-5;
    }

    .answer-snippet > b {
        font-weight: 700;
    }

    .answer-title-link {
        @apply text-blue-800 visited:text-purple-800 inline-block truncate text-xl font-medium;
        max-width: calc(100% - 30px);
    }
    .answer-url-link {
        @apply inline-block truncate text-sm text-gray-800 hover:no-underline;
        max-width: calc(100% - 30px);
    }
</style>
