---
export interface Props {
  current_goggle_url: string;
  default_goggles: string;
}

import { askama } from "$/askama";
---

<div class="h-full flex flex-col justify-center p-0 m-0">
  <select
    form="searchbar-form"
    id="goggles-selector"
    name="goggle"
    onchange="document.getElementById('searchbar-form').submit()"
    class="p-0 m-0 hover:cursor-pointer bg-transparent text-sm border-0 max-w-[100px]"
    x-data="{ items: $persist([]).as('goggles') }"
  >
    <option value="">Goggle</option>
    {
      askama.for_(
        "goggle in default_goggles",
        askama.match("current_goggle_url", {
          "Some(current_goggle)": askama.if_(
            "current_goggle == goggle.url",
            () => (
              <option selected value="{{ goggle.url }}">
                {askama`goggle.name`}
              </option>
            ),
            () => (
              <option value="{{ goggle.url }}">{askama`goggle.name`}</option>
            )
          ),
          None: <option value="{{ goggle.url }}">{askama`goggle.name`}</option>,
        })
      )
    }
    <template x-for="item in items">
      <option x-value="item.url" x-text="item.name"></option>
    </template>
  </select>
</div>

<script>
  import "$/alpine";
</script>
