---
import Searchbar from "./Searchbar.astro";
import Navbar from "./Navbar.astro";

export interface Props {
  icon?: boolean;
  searchbar?: boolean | { query: string };
}

const { icon = true, searchbar } = Astro.props;
---

<div
  class="grid items-center h-24 grid-cols-[auto_1fr_auto] sm:grid-cols-[3.5rem_1fr_auto] gap-4 p-4 lg:gap-8 lg:px-8"
>
  {
    icon && (
      <div class="col-start-1">
        <a href="/">
          <img src="/assets/images/logo.svg" class="h-full w-full" />
        </a>
      </div>
    )
  }
  {
    searchbar && (
      <div class="col-start-2 w-full max-w-xl">
        <Searchbar
          query={typeof searchbar == "object" ? searchbar.query : void 0}
        />
      </div>
    )
  }
  <div class="col-start-3">
    <Navbar />
  </div>
</div>
