---
import Searchbar from "./Searchbar.astro";
import Navbar from "./Navbar.astro";

export interface Props {
  icon?: boolean;
  searchbar?: boolean | { query: string };
}

const { icon = true, searchbar } = Astro.props;
---

<div
  class="grid h-24 grid-cols-[auto_1fr_auto] items-center p-4 sm:grid-cols-[3rem_1fr_auto] sm:gap-4 md:gap-5 lg:gap-10 lg:pr-8 lg:pl-14"
>
  {
    icon && (
      <div class="col-start-1 mr-4 sm:mr-0">
        <a href="/">
          <img src="/images/logo.svg" class="h-full w-full" />
        </a>
      </div>
    )
  }
  {
    searchbar && (
      <div class="col-start-2 w-full max-w-xl">
        <Searchbar
          query={typeof searchbar == "object" ? searchbar.query : void 0}
        />
      </div>
    )
  }
  <div class="col-start-3">
    <Navbar />
  </div>
</div>
