---
import Navbar from "./Navbar.astro";
import IndexBar from "./IndexBar.astro";

export interface Props {
  activeIndex?: number;
}

const { activeIndex = null } = Astro.props;
---

<div
  class="grid shrink-0 h-16 grid-cols-[auto_1fr_auto] items-center px-4 sm:grid-cols-[3rem_1fr_auto] sm:gap-4 md:gap-5 lg:gap-10 lg:pr-8 lg:pl-14"
>
  <div class="col-start-1 space-x-4 flex text-sm">
    <IndexBar active={activeIndex} />
  </div>

  <div class="col-start-3">
    <Navbar />
  </div>

</div>