---
const links = [
  { url: "/search", title: "Search" },
  { url: "/explore", title: "Explore" },
  { url: "/chat", title: "Chat" },
];

export interface Props {
  active?: number | null;
  queryUrlPart?: string;
}

const { queryUrlPart: query, active = null } = Astro.props;
---
{
    links.map((l, idx) => (
    <div class="inline relative z-0">
        <a class="link px-2 py-1 rounded-full text-sm" href={l.url + (query ? "?" + query : "")}>
            {l.title}
        </a>
        {active === idx && (
            <div class="w-full h-[1px] absolute left-0 right-0 bottom-[-11px] bg-brand_contrast"></div>
        )}
    </div>
    ))
}
<style>
  .link {
    @apply transition hover:bg-brand/5 hover:text-brand hover:no-underline;
  }
</style>