---
import { Icon } from "astro-icon";
---

<navbar class="flex-grow flex justify-end items-center pr-10 space-x-10">
  <a href="/goggles">Goggles</a>
  <a href="/about">About</a>
  <a href="https://discord.gg/BmzKHffWJM">
    <Icon
      title="Discord"
      class="w-6 text-gray-500 hover:text-gray-900 transition"
      name="simple-icons:discord"
    />
  </a>
  <a href="https://github.com/cuely/cuely">
    <Icon
      title="GitHub"
      class="w-6 text-gray-500 hover:text-gray-900 transition"
      name="simple-icons:github"
    />
  </a>
</navbar>
