---
export interface Props {
  default_optics: string;
  search_on_change: boolean;
}

const { search_on_change } = Astro.props;

import { askama } from "$/askama";
---

<div class="m-0 flex h-full flex-col justify-center p-0">
  <select
    form="searchbar-form"
    id="optics-selector"
    name="optic"
    class="styled-selector m-0"
  >
    <option value="">No Optic</option>
    {
      askama.for_(
        "optic in default_optics",
        <option value="{{ optic.url }}" title="{{ optic.description }}">{askama`optic.name`}</option>
      )
    }
  </select>
</div>

{search_on_change && <script is:inline src="/js/search_on_optics_change.js"></script>}

<script>
  const optics: {url: string, name: string, description: string}[] = JSON.parse(window.localStorage.getItem("optics") || "[]");

  for (const optic of optics) {
    const option = document.createElement("option");

    option.value = optic.url;
    option.text = optic.name;
    option.setAttribute("title", optic.description);

    document.getElementById("optics-selector")!.appendChild(option);
  }

  var searchParams = new URLSearchParams(window.location.search);
  const currentOpticUrl = searchParams.get("optic");

  if (currentOpticUrl) {
    Array.from(document.getElementById("optics-selector")!.getElementsByTagName("option")).forEach((option) => {
      if (option.value === currentOpticUrl) {
        option.selected = true;
      }
    });
  }
</script>