---
export interface Props {
  current_optic_url: string;
  default_optics: string;
}

import { askama } from "$/askama";
---

<div class="m-0 flex h-full flex-col justify-center p-0">
  <select
    form="searchbar-form"
    id="optics-selector"
    name="optic"
    onchange="document.getElementById('searchbar-form').submit()"
    class="styled-selector m-0"
  >
    <option value="">Optic</option>
    {
      askama.for_(
        "optic in default_optics",
        <option value="{{ optic.url }}">{askama`optic.name`}</option>
      )
    }
  </select>
</div>

<script>
  const optics: {url: string, name: string}[] = JSON.parse(window.localStorage.getItem("optics") || "[]");

  for (const optic of optics) {
    const option = document.createElement("option");
    option.value = optic.url;
    option.text = optic.name;
    document.getElementById("optics-selector")!.appendChild(option);
  }

  var searchParams = new URLSearchParams(window.location.search);
  const currentOpticUrl = searchParams.get("optic");

  if (currentOpticUrl) {
    Array.from(document.getElementById("optics-selector")!.getElementsByTagName("option")).forEach((option) => {
      if (option.value === currentOpticUrl) {
        option.selected = true;
      }
    });
  }
</script>