<div
  class="modal-closed absolute flex h-fit w-52 origin-left flex-col items-center overflow-hidden rounded-lg border bg-white py-5 px-2 text-sm drop-shadow-md"
  id="ranking-modal"
>
  <h2 class="w-fit text-center">
    Do you like results from <span id="ranking-modal-site-label">
      EXAMPLE.com
    </span>?
  </h2>
  <div class="flex w-fit flex-col space-y-3 pt-4">
    <button
      class="rounded-full border bg-white px-4 py-1 hover:bg-slate-600 hover:text-white"
      onclick="preferMore()"
      id="prefer-more"
    >
      Like
    </button>
    <button
      class="rounded-full border bg-white px-4 py-1 hover:bg-slate-600 hover:text-white"
      onclick="preferLess()"
      id="prefer-less"
    >
      Dislike
    </button>
    <button
      class="rounded-full border bg-white px-4 py-1 hover:bg-slate-600 hover:text-white"
      onclick="block()"
      id="prefer-block"
    >
      Block
    </button>
  </div>
</div>

<noscript>
  <style>
    #ranking-modal {
      visibility: hidden;
    }
  </style>
</noscript>

<style>
  #ranking-modal.modal-open {
    transition: transform 0.15s ease-in-out, left 0.15s ease-in-out,
      top 0.15s ease-in-out;
    transform: scale(1);
  }

  .selected {
    @apply bg-slate-600 text-white;
  }

  #ranking-modal.modal-closed {
    transition: none !important;
    transform: scale(0);
  }
</style>

<script is:inline>
  var rankingModal = document.getElementById("ranking-modal");
  var siteLabel = document.getElementById("ranking-modal-site-label");
  var btnPreferMore = document.getElementById("prefer-more");
  var btnPreferLess = document.getElementById("prefer-less");
  var btnPreferBlock = document.getElementById("prefer-block");

  var currentSite = "";

  const BLOCKED = 0;
  const LESS = 1;
  const MORE = 2;

  let rankings = JSON.parse(
    window.localStorage.getItem("sites-ranking-adjustment") || "{}"
  );

  rankingModal.addEventListener("click", (event) => {
    event.stopPropagation();
  });

  function updateModal(site) {
    siteLabel.innerHTML = site;
    currentSite = site;

    updateSelection();
  }

  function updateSelection() {
    let rankings = JSON.parse(
      window.localStorage.getItem("sites-ranking-adjustment") || "{}"
    );

    btnPreferMore.classList.remove("selected");
    btnPreferLess.classList.remove("selected");
    btnPreferBlock.classList.remove("selected");

    if (rankings[currentSite] != undefined) {
      let pref = rankings[currentSite];

      if (pref == MORE) {
        btnPreferMore.classList.add("selected");
      } else if (pref == LESS) {
        btnPreferLess.classList.add("selected");
      } else if (pref == BLOCKED) {
        btnPreferBlock.classList.add("selected");
      }
    }
  }

  function setSitePreference(pref) {
    if (rankings[currentSite] == pref) {
      delete rankings[currentSite];
    } else {
      rankings[currentSite] = pref;
    }

    window.localStorage.setItem(
      "sites-ranking-adjustment",
      JSON.stringify(rankings)
    );

    updateSelection();
    document.getElementById("searchbar-form").submit();
  }

  function preferMore() {
    setSitePreference(MORE);
  }

  function preferLess() {
    setSitePreference(LESS);
  }

  function block() {
    setSitePreference(BLOCKED);
  }
</script>
