---
import Hero from "./Hero.astro";
---
<div
  class="modal-closed absolute flex h-fit w-52 origin-left flex-col items-center overflow-hidden rounded-lg border bg-white py-5 px-2 text-sm drop-shadow-md"
  id="modal"
>
  <div>
    <h2 class="w-fit text-center">
      Do you like results from <span id="modal-site-label">
        EXAMPLE.com
      </span>?
    </h2>
    <div class="flex space-x-1.5 pt-2 justify-center">
      <button
        class="rounded-full border bg-white px-2 py-2 hover:border-brand hover:text-brand"
        id="prefer-more"
      >
          <Hero class="w-4" icon="thumb-up" />
      </button>
      <button
        class="rounded-full border bg-white px-2 py-2 hover:border-amber-400 hover:text-amber-400"
        id="prefer-less"
      >
        <Hero class="w-4" icon="thumb-down" />
      </button>
      <button
        class="rounded-full border bg-white px-2 py-2 hover:border-red-500 hover:text-red-500"
        id="prefer-block"
      >
        <Hero class="w-4" icon="ban" />
      </button>
    </div>
  </div>
  <div class="mt-4 flex justify-center">
    <button id="summarize-btn">
      Summarize Result
    </button>
  </div>
</div>

<noscript>
  <style>
    #modal {
      visibility: hidden;
    }
  </style>
</noscript>

<style>
  #modal.modal-open {
    transition: transform 0.15s ease-in-out, left 0.15s ease-in-out,
      top 0.15s ease-in-out;
    transform: scale(1);
  }

  #prefer-more.selected {
    @apply border-brand text-brand;
  }

  #prefer-less.selected {
    @apply border-amber-400 text-amber-400;
  }

  #prefer-block.selected {
    @apply border-red-500 text-red-500;
  }

  #modal.modal-closed {
    transition: none !important;
    transform: scale(0);
  }

  #summarize-btn {
    @apply rounded-full px-2 py-1 border bg-white;
  }

  #summarize-btn:not(:disabled) {
    @apply hover:border-brand hover:text-brand;
  }

  #summarize-btn.active {
    @apply border-brand text-brand;
  }
</style>

<script is:inline src="/js/search_modal.js"></script>
