---
const links = [
  { url: "/settings", title: "Manage Optics" },
  { url: "/settings/sites", title: "Site Rankings" },
  { url: "/settings/privacy", title: "Privacy" },
];
---

<div class="relative right-20 flex flex-col space-y-3">
  {
    links.map((l) => (
      <a class="link rounded-full px-2 py-1 text-center" href={l.url}>
        {l.title}
      </a>
    ))
  }
</div>
<style>
  .link {
    @apply transition hover:bg-brand/5 hover:text-brand hover:no-underline;
  }
</style>
