---
import { askama } from "../askama";
import Entity from "../components/Entity.astro";
import StackOverflow from "../components/StackOverflow.astro";

export interface Props {
  sidebar: string;
}
---

<div>
  {
    askama.match("sidebar", {
      "Sidebar::Entity(entity)": <Entity entity="entity" />,
      "Sidebar::StackOverflow{title, answer}": (
        <StackOverflow title="title" answer="answer" />
      ),
    })
  }
</div>
