---
import Hero from "./Hero.astro";
import { askama } from "../askama";

export interface Props {
  snippet: string;
  index: string;
}
---

<div class="snippet">
  {
    askama.match("item.snippet", {
      "Snippet::Normal { date, text }": (
        <div class="line-clamp-3">
          {askama.if_("let Some(date) = date", () => (
            <span class="text-gray-500">{askama`date $ 2. May 2022`}</span>
          ))}
          <span id={"snippet-text-" + askama`loop.index0`} class="[&:nth-child(2)]:before:content-['—'] snippet-text">
            {askama`text|safe $ {{lorem.lines}}`}
          </span>
        </div>
      ),
      "Snippet::StackOverflowQA { question, answers }": (
        <div>
          <div>
            <div class="max-h-16 line-clamp-3 overflow-hidden break-words">
              {askama.for_("part in question.body", () =>
                askama.match("part", {
                  "CodeOrText::Text(text)": <span>{askama`text`}</span>,
                  "CodeOrText::Code(code)": <span>{askama`code`}</span>,
                })
              )}
            </div>
          </div>
          <div class="flex space-x-2 text-sm mt-2">
            {askama.for_("answer in answers", () => (
              <a
                class="h-52 w-1/3 rounded-lg bg-slate-100 p-5 hover:cursor-pointer hover:bg-slate-600 hover:text-white hover:no-underline"
                href="{{ answer.url }}"
              >
                <div class="h-full w-full overflow-hidden">
                  <div class="mb-2 flex grow justify-between">
                    <div>{askama`answer.date`}</div>
                    <div class="flex space-x-2">
                      <div class="flex items-center space-x-1">
                        <span class="h-fit">{askama`answer.upvotes`}</span>
                        <div class="h-fit">
                          <Hero class="w-3" icon="thumb-up" />
                        </div>
                      </div>
                      {askama.if_("answer.accepted", () => (
                        <div>
                          <Hero class="w-5 text-green-500" icon="check" />
                        </div>
                      ))}
                    </div>
                  </div>
                  <div class="line-clamp-6">
                    {askama.for_("part in answer.body", () => (
                      <div class="select-none">
                        {askama.match("part", {
                          "CodeOrText::Text(text)": <span>{askama`text`}</span>,
                          "CodeOrText::Code(code)": (
                            <pre class="select-none">
                              <code
                                class="select-none rounded-lg"
                                style="background: none"
                              >{askama`code`}</code>
                            </pre>
                          ),
                        })}
                      </div>
                    ))}
                  </div>
                </div>
              </a>
            ))}
          </div>
        </div>
      ),
    })
  }
</div>

<style>
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  .blinking-cursor::after {
    content: "";
    width: 2px;
    height: 1rem;
    background: #292d30;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
  }
</style>