---
import "@fontsource/montserrat";
import "@fontsource/montserrat/variable.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="font-light">
    <slot />

    <style is:global>
      html,
      body {
        position: relative;
        width: 100%;
        height: 100%;
      }

      a:hover {
        text-decoration: underline;
      }

      label {
        display: block;
      }

      input:disabled {
        color: #ccc;
      }

      button {
        color: #333;
        background-color: #f4f4f4;
        outline: none;
      }

      button:disabled {
        color: #999;
      }

      button:not(:disabled):active {
        background-color: #ddd;
      }

      button:focus {
        border-color: #666;
      }

      b {
        font-weight: 500 !important;
      }

      pre > code {
        font-size: 0.8rem;
      }
    </style>
  </body>
</html>
