---
import { askama } from "../askama";
import Footer from "../components/Footer.astro";
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import SettingsMenu from "../components/SettingsMenu.astro";
---
<Layout title="Stract">
    <div class="flex h-full w-full flex-col">
        <Header withAlice={askama`with_alice`} />

        <div class="flex h-fit w-full justify-center pt-10">
            <SettingsMenu />
            <div class="flex w-full max-w-2xl flex-col">
                <slot />
            </div>
        </div>
        <div class="flex flex-grow"></div>
        <Footer />
    </div>
</Layout>