---
import SettingsLayout from "../../layouts/Settings.astro";
---

<SettingsLayout>
  <div class="content">
    <div class="space-y-3">
      <h1 class="text-2xl font-medium">Preferences</h1>
      <div>
        <div>
          <h2 class="text-lg">Safe Search</h2>
          <div class="flex flex-col sm:flex-row sm:justify-between pr-5 space-y-1 sm:space-y-0">
            <p>Remove explicit content from search results</p>
            <div class="flex space-x-4">
              <div>
                <input type="radio" name="safe-search" id="safe-search-on" value="on">
                <label for="safe-search-on">On</label>
              </div>
              <div>
                <input type="radio" name="safe-search" id="safe-search-off" value="off" checked>
                <label for="safe-search-off">Off</label>
              </div>
            </div>
          </div>

          <p class="pt-5 text-neutral-300">More to come soon</p>
        </div>
      </div>
    </div>
  </div>
</SettingsLayout>

<style is:inline>
  .content a {
    text-decoration: underline;
    font-weight: 500;
  }
</style>

<script is:inline src="/js/search_preferences.js"></script>