---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ChatBubble from "../components/ChatBubble.astro";
import { askama } from "../askama";
import OpticSelector from "../components/OpticSelector.astro";
---

<Layout title="Stract">
  <div class="relative grid h-full grid-rows-[auto_1fr_auto]">
    <div id="header" class="row-start-1">
        <Header withAlice={askama`with_alice`} showDivider={true} activeIndex={2} queryUrlPart={askama`query_url_part $ ""`} />
    </div>
    <div class="flex flex-col row-start-2 mt-10 px-2 items-center">
        <div class="max-w-3xl w-full gap-y-5 flex flex-col h-full">
            <div id="message-container" class="flex px-5 flex-col gap-y-3 h-full">
                <div class="flex flex-col h-full items-center gap-y-3">
                    <h1 class="text-2xl font-bold">Chat with Alice</h1>
                    <p class="text-sm">Alice is an AI that tries to answer your questions by searching for information on the internet. As always, you should verify the information from multiple sources and make sure the sources supports the claims. Alice will most likely be a paid feature in the future.</p>
                    <div class="flex flex-col items-center pt-20 gap-y-3">
                        <div class="w-20"><img src="/images/warning.svg"/></div>
                        <p class="text-brand_contrast/75">Alice is <b class="font-bold">highly experimental</b> and might produce bad or downright wrong answers.</p>
                    </div>
                </div>
            </div>
            <div class="w-full gap-y-2">
                <div class="flex w-full border rounded-xl p-2 pl-3">
                    <textarea id="message-input" autofocus class="grow resize-none outline-none focus:ring-0" style="max-height: 200px;" placeholder="Type a message..."></textarea>
                    <div class="flex place-items-end">
                        <div id="send-button" class="w-6 h-6 rotate-90 text-brand_contrast/50 hover:text-brand_contrast cursor-pointer">
                            <Hero icon="paper-airplane" />
                        </div>
                    </div>
                </div>
                <div class="w-full pt-2 text-gray-600 flex justify-end text-sm"><OpticSelector default_optics="default_optics" search_on_change={false} /></div>
            </div>
        </div>
    </div>
    <div id="footer" class="row-start-3">
      <Footer />
    </div>
  </div>
<div class="status-template hidden">
    <ChatBubble />
    <div id="info" class="text-gray-500"></div>
</div>
</Layout>

<style is:global>
    .user-message-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-left: 1.25rem;
    }

    .user-message-text {
        padding: 0.5rem;
        background-color: rgba(11, 123, 255, 0.05);
        border-color: rgba(11, 123, 255, 0.3);
        width: fit-content;
        height: fit-content;
        max-width: 100%;
        border-width: 1px;
        border-radius: 0.75rem;
        border-bottom-right-radius: 0;
    }

    .alice-message-text {
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.025);
        border-color: rgba(0, 0, 0, 0.15);
        width: fit-content;
        height: fit-content;
        max-width: 100%;
        border-width: 1px;
        border-radius: 0.75rem;
        border-bottom-left-radius: 0;
    }

    .alice-message-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-right: 1.25rem;
    }

    .inline-source {
        display: inline-flex;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.4);
        padding-left: 0.22rem;
        padding-right: 0.22rem;
        font-size: 0.6rem;
        height: 0.9rem;
        line-height: 0.85rem;
    }

    .message-sources {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 0.5rem;
        margin-top: 0.25rem;
    }

    .message-source {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    #message-container {
        line-height: 22px;
    }
</style>

<script is:inline src="/js/marked.min.js"></script>
<script is:inline src="/js/purify.min.js"></script>

<link rel="stylesheet" href="/css/highlightjs-default.min.css" />
<script is:inline src="/js/highlight.min.js"></script>

<script is:inline src="/js/chat.js"></script>