---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cuely">
    <div class="flex flex-col h-full w-full">
        <div class="min-h-max w-full">
            <header class="flex items-center w-full h-24">
                <div class="ml-14 mr-14 w-12 h-12">
                    <a href="/">
                        <img
                            src="/assets/images/logo.svg"
                            class="w-full h-full"
                        />
                    </a>
                </div>
                <Navbar />
            </header>
        </div>

        <div class="flex flex-col w-full h-fit items-center pt-10">
            <div class="flex flex-col max-w-2xl">
                <h1 class="font-medium text-2xl">Manage Goggles</h1>
                <div class="text-sm mt-5">
                    Goggles lets you control almost everything about which
                    search results that gets returned to you. You can discard
                    results from specific sites, boost results from other sites
                    and much more.
                </div>
                <div class="text-sm mt-3">
                    See our quickstart for how to get started. Once you have
                    developed your goggle, you can add it here to be used during
                    your search.
                </div>
                <div class="text-sm mt-3">
                    Simply host the goggle on a url that returns a plain-text
                    HTTP response with the goggle. We use
                    raw.githubusercontent.com, but you are free to host them
                    elsewhere.
                </div>
                <div class="mt-16">
                    <div class="w-full flex justify-between pl-5 pr-5">
                        <input id="name" type="text" placeholder="Name" />
                        <input id="url" type="text" placeholder="Url" />
                        <button
                            id="add-btn"
                            class="bg-brand text-white rounded-full w-20 h-10 border-0 text-sm"
                            >Add</button
                        >
                    </div>
                    <div class="mt-5">
                        <table class="table-auto w-full">
                            <thead>
                                <tr>
                                    <th class="w-10"></th>
                                    <th class="font-medium text-left">Name</th>
                                    <th class="font-medium text-left">Url</th>
                                </tr>
                            </thead>
                            <tbody id="goggles-list"> </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-grow"></div>
        <Footer />
    </div>
</Layout>

<script is:inline>
    const addBtn = document.querySelector("#add-btn");
    const gogglesList = document.querySelector("#goggles-list");
    const nameInput = document.querySelector("#name");
    const urlInput = document.querySelector("#url");

    nameInput.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            addBtn.click();
        }
    });

    urlInput.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            addBtn.click();
        }
    });

    let goggles = JSON.parse(window.localStorage.getItem("goggles") || "[]");

    function updateList() {
        goggles = JSON.parse(window.localStorage.getItem("goggles") || "[]");

        gogglesList.innerHTML = "";

        goggles.forEach((goggle, i) => {
            let row = gogglesList.insertRow(i);

            row.insertCell(0).innerHTML =
                '<div><img src="/assets/images/delete.svg" class="w-5 h-5 hover:cursor-pointer" id="' +
                i +
                '" onclick="deleteRow(this)"/></div>';
            row.insertCell(1).innerHTML = goggle.name;
            row.insertCell(2).innerHTML = goggle.url;
        });
    }

    function deleteRow(deleteBtn) {
        let row = deleteBtn.id;

        goggles = JSON.parse(window.localStorage.getItem("goggles") || "[]");
        goggles.splice(row, 1);
        window.localStorage.setItem("goggles", JSON.stringify(goggles));

        updateList();
    }

    updateList();

    function add() {
        if (nameInput.value == "" || urlInput.value == "") {
            return; // TODO: give some kind of feedback to the user
        }

        goggles.push({ name: nameInput.value, url: urlInput.value });
        window.localStorage.setItem("goggles", JSON.stringify(goggles));
        updateList();

        nameInput.value = "";
        urlInput.value = "";
    }

    addBtn.addEventListener("click", add);
</script>
