---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Searchbar from "../components/Searchbar.astro";
import Layout from "../layouts/Layout.astro";
import OpticSelector from "../components/OpticSelector.astro";
---

<Layout title="Stract">
  <div class="grid h-full grid-rows-[auto_1fr_auto]">
    <Header showLogo={false} />
    <div class="absolute top-1/4 grid w-full place-items-center">
      <div
        class="flex w-full flex-col items-center justify-center px-2 md:max-w-2xl md:px-0"
      >
        <div class="flex w-64 mb-6">
          <img src="/images/biglogo-with-text.svg" class="h-full w-full" />
        </div>
        <Searchbar autofocus />
        <div class="mt-3 text-gray-600 flex space-x-2">
            <div>Customise your search with an <a class="underline font-medium" href="/settings">optic</a>:</div><OpticSelector default_optics="default_optics" search_on_change={false}/>
        </div>
      </div>
    </div>

    <div class="row-start-3">
      <Footer />
    </div>
  </div>
</Layout>
