---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Searchbar from "../components/Searchbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cuely">
  <div class="flex flex-col h-full w-full">
    <header class="flex items-center h-24">
      <Navbar />
    </header>

    <div
      class="flex justify-center items-center flex-col"
      style="flex-grow: 3;"
    >
      <div class="flex">
        <h1 class="text-5xl uppercase mb-1" style="color: #0b7bff">cuely</h1>
        <span style="color: #828282">BETA</span>
      </div>

      <h3 class="mb-8" style="color: #828282">Completely Open Search Engine</h3>

      <Searchbar autofocus />
    </div>

    <div class="flex grow flex-col" style="flex-grow: 2;"></div>

    <Footer />
  </div>
</Layout>
