{% extends "base.html" %}
{% import "navbar.html" as navbar %}
{% import "footer.html" as footer %}

{% block content %}
<div class="flex flex-col h-full w-full">
    <header class="flex items-center h-24">
        <div class="ml-14 mr-14 w-12 h-12">
            <a href="/">
                <img src="/static/images/logo.svg" class="w-full h-full" />
            </a>
        </div>
        {% call navbar::navbar() %}
    </header>

    <div class="flex flex-col w-full items-center">
        <div class="flex items-center flex-col max-w-4xl mr-10 ml-10" style="flex-grow: 2;">
            <div class="flex flex-col items-center">
                <h1 class="text-2xl mb-3">About Us</h1>
                <div>
                    <p>Cuely is an open source search engine where the user has the ability to see exactly what is
                        going
                        on and customize almost everything about their search results. It's a search engine made for
                        hackers just like us. No more searches where some of the terms in the query arent used, and
                        the engine tries to guess what you <i>really</i> meant. You get what you search for.</p>
                </div>
            </div>

            <div class="flex flex-col items-center mt-16">
                <h1 class="text-lg mb-3">Our Values</h1>
                <div>
                    <ul class="list-disc pl-5">
                        <li class="mb-1"><span class="italic">Complete transparency</span> – You can view our code and
                            follow the
                            development directly on <a href="https://github.com/cuely/cuely">Github</a></li>
                        <li class="mb-1"><span class="italic">Privacy focussed</span> – We will never track you. Period.
                            And you can
                            always verify this in our <a href="https://github.com/cuely/cuely">code.</a></li>
                        <li class="mb-1"><span class="italic">Immensely customizable</span> – We aim to give you the
                            ability to
                            customize everything about the search. e.g. block sites, boost sites, prioritize links from
                            specific sites etc.</li>
                    </ul>
                    <p class="mt-3">Oh, and if we ever become evil (e.g. by changing our motto) please take our code
                        and start a
                        competitor. The fact that you have this ability will make sure that our values will always
                        be aligned with our users.</p>
                </div>

            </div>

            <div class="flex flex-col items-center mt-16 w-full">
                <h1 class="text-lg mb-3">How do you make money?</h1>
                <div class="w-full">
                    <p>Well, currently we don't. We are bootstraped and trying to keep costs low. In the future we will
                        have contextual ads based on your current search
                        query. Just to re-iterate; we will only use your current search to match ads and will never
                        track
                        you across searches.</p>
                    <p class="mt-3">We will also have a paid api for developers.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="flex flex-grow"></div>
    {% call footer::footer() %}
</div>

{% endblock %}