{% extends "base.html" %}
{% import "searchbar.html" as scope %}
{% import "navbar.html" as navbar %}
{% import "footer.html" as footer %}

{% block content %}
<div class="flex flex-col h-full w-full">
    <header class="flex items-center h-24">
        {% call navbar::navbar() %}
    </header>

    <div class="flex justify-center items-center flex-col" style="flex-grow: 3;">
        <div class="flex">
            <h1 class="text-5xl uppercase mb-1" style="color: #0b7bff">cuely</h1>
            <span style="color: #828282">BETA</span>
        </div>

        <h3 class="mb-8" style="color: #828282">Completely Open Search Engine</h3>

        {% call scope::searchbar("autofocus", "") %}

    </div>

    <div class="flex grow flex-col" style="flex-grow: 2;">
    </div>

    {% call footer::footer() %}
</div>

{% endblock %}