{% extends "base.html" %}
{% import "navbar.html" as navbar %}
{% import "footer.html" as footer %}

{% block content %}
<div class="flex flex-col h-full w-full">
    <div class="min-h-max w-full">
        <header class="flex items-center w-full h-24">
            <div class="ml-14 mr-14 w-12 h-12">
                <a href="/">
                    <img src="/static/images/logo.svg" class="w-full h-full" />
                </a>
            </div>
            {% call navbar::navbar() %}
        </header>
    </div>

    <div class="flex flex-col w-full h-fit items-center pt-10">
        <div class="flex flex-col w-full items-center max-w-4xl mr-10 ml-10 space-y-16">
            <div class="space-y-3">
                <h1 class="text-2xl font-medium pb-2">We will always respect your privacy.</h1>

                <p>We will be good stewards of any personal information you share with us and we promise not to share
                    your
                    data
                    with anyone else in any way, shape or form.</p>

                <p>When using Cuely, you can have peace of mind knowing that we do whatever is possible to keep
                    your
                    private information - private. We mostly do this by simply not storing any of your private
                    information at all. This keeps things simple, both for you and for us.</p>

                <p>Here is a brief overview of your privacy:</p>

                <ul class="list-disc pl-7">
                    <li>Searches are anonymous and private to you.</li>
                    <li>We don't log or store your IP address.</li>
                    <li>We do not use any web browser analytics or other frontend telemetry.</li>
                    <li>We do not share any user data with any third parties.</li>
                    <li>We collect only the data needed to provide and protect the service.</li>
                    <li>We serve all images and other static content directly from our servers to prevent tracking from
                        third parties.</li>
                    <li>We use HTTPS encryption everywhere.</li>
                </ul>

                <p>You don't have to take our word for these claims as our <a
                        href="https://github.com/cuely/cuely">source code is available to everyone.</a></p>
            </div>
            <div class="space-y-3">
                <h1 class="text-xl">Terms of Service</h1>

                <p>Keep in mind that all services provided in Cuely are provided “as is” and there are no warranties. By
                    using our services you agree with the following terms.
                </p>

                <p><span class="font-medium">Introduction</span> These Terms of Service ("Terms") govern your use of
                    Cuely (the "Services").</p>

                <p><span class="font-medium">Privacy Policy</span> We use the information we receive through the
                    Services as described in our Privacy Policy.</p>

                <p><span class="font-medium">Source code </span> The source code for Cuely is distributed under the
                    license described in the <a href="https://github.com/Cuely/Cuely/blob/main/LICENSE.md">git
                        repository.</a></p>

                <p><span class="font-medium">Proprietary Rights</span> Cuely does not grant you any intellectual
                    property
                    rights in the Services that are
                    not
                    specifically stated in these Terms. For example, these Terms do not provide the right to use any of
                    Cuely's
                    copyrights, trade names, trademarks, service marks, logos, domain names, or other distinctive brand
                    features.</p>

                <p><span class="font-medium">Indemnification</span> You agree to defend, indemnify and hold harmless
                    Cuely, its contractors, contributors,
                    licensors,
                    and partners, and their respective directors, officers, employees and agents ("Indemnified Parties")
                    from
                    and
                    against any and all third party claims and expenses, including attorneys' fees, arising out of or
                    related to
                    your use of the Services.</p>

                <p><span class="font-medium">Limitation of Liability</span> THE SERVICES ARE PROVIDED "AS IS"
                    WITH ALL FAULTS. TO THE EXTENT
                    PERMITTED
                    BY LAW, CUELY AND THE INDEMNIFIED PARTIES HEREBY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR
                    IMPLIED,
                    INCLUDING
                    WITHOUT LIMITATION WARRANTIES THAT THE SERVICES ARE FREE OF DEFECTS, MERCHANTABLE, FIT FOR A
                    PARTICULAR
                    PURPOSE,
                    AND NON-INFRINGING. YOU BEAR THE ENTIRE RISK AS TO SELECTING THE SERVICES FOR YOUR PURPOSES AND AS
                    TO
                    THE
                    QUALITY AND PERFORMANCE OF THE SERVICES, INCLUDING WITHOUT LIMITATION THE RISK THAT YOUR CONTENT IS
                    DELETED
                    OR
                    CORRUPTED OR THAT SOMEONE ELSE ACCESSES YOUR ONLINE ACCOUNTS. THIS LIMITATION WILL APPLY
                    NOTWITHSTANDING
                    THE
                    FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
                    LIMITATION
                    OF
                    IMPLIED WARRANTIES, SO THIS DISCLAIMER MAY NOT APPLY TO YOU. EXCEPT AS REQUIRED BY LAW, CUELY AND
                    THE
                    INDEMNIFIED
                    PARTIES WILL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY
                    DAMAGES
                    ARISING
                    OUT OF OR IN ANY WAY RELATING TO THESE TERMS OR THE USE OF OR INABILITY TO USE THE SERVICES,
                    INCLUDING
                    WITHOUT
                    LIMITATION DIRECT AND INDIRECT DAMAGES FOR LOSS OF GOODWILL, WORK STOPPAGE, LOST PROFITS, LOSS OF
                    DATA,
                    AND
                    COMPUTER FAILURE OR MALFUNCTION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS
                    OF
                    THE
                    THEORY
                    (CONTRACT, TORT, OR OTHERWISE) UPON WHICH SUCH CLAIM IS BASED. THE COLLECTIVE LIABILITY OF CUELY AND
                    THE
                    INDEMNIFIED PARTIES UNDER THIS AGREEMENT WILL NOT EXCEED $500 (FIVE HUNDRED DOLLARS). SOME
                    JURISDICTIONS
                    DO
                    NOT
                    ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL, CONSEQUENTIAL, OR SPECIAL DAMAGES, SO THIS
                    EXCLUSION
                    AND
                    LIMITATION MAY NOT APPLY TO YOU.</p>

                <p><span class="font-medium">Modifications to these Terms</span> Cuely may update these Terms from time
                    to time to address a new feature
                    of
                    the
                    Services or to clarify a provision. The updated Terms will be posted online. If the changes are
                    substantive,
                    we
                    will announce the update through Cuely's usual channels for such announcements such as Discord.
                    Your continued use of the Services after the effective date of such changes constitutes your
                    acceptance
                    of
                    such
                    changes.
                </p>

                <p><span class="font-medium">Miscellaneous</span> These Terms constitute the entire agreement between
                    you and Cuely concerning the
                    Services
                    and
                    are
                    governed by the laws of Denmark, excluding its conflict of law provisions. If any
                    portion
                    of these Terms is held to be invalid or unenforceable, the remaining portions will remain in full
                    force
                    and
                    effect. In the event of a conflict between a translated version of these terms and the English
                    language
                    version,
                    the English language version shall control.</p>

            </div>
            <div class="w-full pb-10">
                <h1>Changelog</h1>
                <div>
                    <div class="flex space-x-1">
                        <h3 class="font-medium">31-08-2022:</h3>
                        <p>Initial commit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-grow"></div>
    {% call footer::footer() %}
</div>

{% endblock %}