{% extends "base.html" %}
{% import "searchbar.html" as scope %}
{% import "entity.html" as entity_scope %}

{% block content %}

<div class="flex flex-col w-full">
    <div class="flex items-center h-24 border bg-neutral-50">
        <div class="ml-14 mr-14">
            <a href="/">
                <img src="/static/images/logo.svg" />
            </a>
        </div>
        {% call scope::searchbar("", query) %}
    </div>

    <div class="flex">
        <div class="flex pl-40 flex-col">
            <div class="flex mt-1 pl-3 pt-2 max-w-3xl pr-24 w-full justify-between">
                <div class="flex flex-col h-full justify-center text-sm text-gray-600">
                    <p class="h-fit">Found {{ num_matches }} results in {{ search_duration_sec }} seconds</p>
                </div>
                <div class="select-region h-full flex flex-col justify-center p-0 m-0">
                    <select form="searchbar-form" name="gl" class="p-0 m-0">
                        {% for region_selection in all_regions %}
                        {% match region_selection %}
                        {% when RegionSelection::Selected with (region) %}
                        <option value="{{ region.gl() }}" selected>{{ region.name() }}</option>
                        {% when RegionSelection::Unselected with (region) %}
                        <option value="{{ region.gl() }}">{{ region.name() }}</option>
                        {% endmatch %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="flex flex-col pt-4 pb-8">
                {% match spell_correction %}
                {% when Some with (correction) %}
                <div class="pl-3 pb-3 ">
                    Did you mean: <a class="italic title-link font-bold" href="/search?q={{ correction|urlencode }}">{{
                        correction
                        }}</a>
                </div>
                {% when None %}
                {% endmatch %}

                <div class="search-result flex flex-col space-y-3">
                    {% for item in search_result %}
                    <div class="flex max-w-3xl w-full p-3">
                        <div class="flex flex-col w-full">
                            <div class="text-sm mb-1 flex">
                                <div class="flex items-center mr-2">
                                    <img src="/favicons/{{ item.domain|urlencode }}" width="13px" />
                                </div>
                                <div>
                                    <a class="hover:no-underline text-gray-600" href="{{ item.url }}">{{
                                        item.pretty_url
                                        }}</a>
                                </div>
                            </div>
                            <div class="text-lg font-medium mb-1">
                                <a class="title-link" href="{{ item.url }}">{{ item.title }}</a>
                            </div>
                            <div class="text-sm">
                                {% match item.last_updated %}
                                {% when Some with (val) %}
                                <span class="text-gray-500">
                                    {{ val }}
                                </span> —
                                {% when None %}
                                {% endmatch %}
                                {{ item.snippet }}
                            </div>
                        </div>
                        <div class="flex h-full items-center">
                            <div class="h-20 w-20 pl-2 pt-1 pb-1">
                                {% match item.primary_image_uuid %}
                                {% when Some with (val) %}
                                <a href="{{ item.url|urlencode }}">
                                    <img class="h-full w-full object-cover rounded-full"
                                        src="/image/{{ val|urlencode }}" />
                                </a>
                                {% when None %}
                                {% endmatch %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        {% match entity %}
        {% when Some with (entity) %}
        {% call entity_scope::show_entity(entity) %}
        {% when None %}
        {% endmatch %}
    </div>
</div>

<style>
    .title-link {
        color: #1a0dab;
    }

    .title-link:visited {
        color: #609;
    }

    .search-result {
        text-rendering: optimizeLegibility;
        font-smooth: grayscale;
        -moz-osx-font-smoothing: grayscale;
    }

    .select-region>select {
        background-color: transparent;
        border: 0px;
        font-size: small;
        width: 105px;
    }
</style>

{% endblock %}