{% extends "base.html" %}
{% import "searchbar.html" as scope %}

{% block content %}

<div class="flex flex-col w-full">
    <div class="flex items-center h-24 border bg-neutral-50">
        <div class="ml-14 mr-14">
            <a href="/">
                <img src="/static/images/logo.svg" />
            </a>
        </div>
        {% call scope::searchbar("", query) %}
    </div>

    <div class="flex pt-8">
        <div class="search-result flex flex-col space-y-3 pb-8 pl-40">
            {% for item in search_result %}
            <div class="flex max-w-2xl p-3 h-36">
                <div class="flex flex-col">
                    <div class="text-sm mb-1 flex">
                        <div class="flex items-center mr-2">
                            <img src="/favicons/{{ item.domain }}" width="13px" />
                        </div>
                        <div>
                            <a class="hover:no-underline text-gray-600" href="{{ item.url }}">{{ item.pretty_url }}</a>
                        </div>
                    </div>
                    <div class="text-lg font-medium mb-1">
                        <a class="title-link" href="{{ item.url }}">{{ item.title }}</a>
                    </div>
                    <div class="text-sm">
                        {% match item.last_updated %}
                        {% when Some with (val) %}
                        <span class="text-gray-500">
                            {{ val }}
                        </span> —
                        {% when None %}
                        {% endmatch %}
                        {{ item.snippet }}
                    </div>
                </div>
                {% match item.primary_image_uuid %}
                {% when Some with (val) %}
                <div class="aspect-square pl-3 h-full max-h-full">
                    <img class="max-h-full h-full w-full object-cover rounded-full" src="/image/{{ val }}" />
                </div>
                {% when None %}
                {% endmatch %}
            </div>
            {% endfor %}
        </div>

        {% match entity %}
        {% when Some with (entity) %}
        <div class="flex grow justify-center pt-3">
            <div class="max-w-lg flex flex-col items-center">
                {% match entity.image %}
                {% when Some(image) %}
                <div class="w-lg mb-3">
                    <a href="https://en.wikipedia.org/wiki/{{ entity.title }}">
                        <img class="h-full w-full rounded-full" src="/entity/image/{{ image }}" />
                    </a>
                </div>
                {% when None %}
                {% endmatch %}
                <div class="text-xl mb-1">
                    <a href="https://en.wikipedia.org/wiki/{{ entity.title }}">{{ entity.title }}</a>
                </div>
                <div class="text-sm">
                    {{ entity.small_abstract }}
                    <span class="italic">
                        source: <a class="text-blue-600"
                            href="https://en.wikipedia.org/wiki/{{ entity.title }}">wikipedia</a>
                    </span>
                </div>
                {% if !entity.related_entities.is_empty() %}
                <div class="flex flex-col mt-5 text-gray-500 w-full">
                    <div class="font-light">
                        Related Searches
                    </div>
                    <div class="flex">
                        {% for entity in entity.related_entities %}
                        <div class="flex flex-col items-center p-4">
                            {% match entity.image %}
                            {% when Some(image) %}
                            <div class="h-20 w-20 mb-3">
                                <a href="/search?q={{ entity.title }}">
                                    <img class="h-full object-cover w-full rounded-full"
                                        src="/entity/image/{{ image }}" />
                                </a>
                            </div>
                            {% when None %}
                            {% endmatch %}
                            <div class="text-center">
                                <a href="/search?q={{ entity.title }}">
                                    {{ entity.title }}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% when None %}
        {% endmatch %}
    </div>
</div>

<style>
    .title-link {
        color: #1a0dab;
    }

    .title-link:visited {
        color: #609;
    }

    .search-result {
        text-rendering: optimizeLegibility;
        font-smooth: grayscale;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

{% endblock %}